
#barra_navegacion {
    display: flex;
    border: 1px solid;

}

#barra_control {

    border: 1px solid;
    margin-left: 15px;
    
}

.bodyClass {
  background-color: black;
  color: white;
}

#app {
  
}

.parte {
    display: flex;
  }
  .acorde {
    border: 1px solid #888;
    width: 25%;
  }
  .ordenparte {
    border: 1px solid #888;
    width: 25%;
  }
  
  .compas_actual {
    background-color: #00FF00;
    color: white;
  }