
#barra_navegacion {
    display: flex;
    border: 1px solid;

}

#barra_control {

    border: 1px solid;
    margin-left: 15px;
    
}

.bodyClass {
  background-color: black;
  color: white;
}

#app {
  height: 100%;
  width: 98%;
}

.parte {
    display: flex;
  }
  .acorde {
    border: 1px solid #888;
    width: 25%;
  }
  .ordenparte {
    border: 1px solid #888;
    width: 25%;
  }
  