body {
    font-size: 40px;
}

#app {
    color: #a9a8f6;
    
}



.acordediv {
    margin: 1px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    display: inline-block;
    color: #a9a8f6;
    margin-right: 10px;
    
  }